.content-section__subtitle {
    margin: 0px 20px 32px 20px;
    padding-top: 40px;
    color: #131313;
    font-family: "ebgaramond", Arial, sans-serif;
    font-size: 28px;
    line-height: 115%;
    font-weight: 500;
}